/* /* 컨테이너를 Flex 컨테이너로 설정하여 사이드바와 콘텐츠를 나란히 배치
.container {
    display: flex;
}

콘텐츠 영역 스타일
#content {
    flex-grow: 1; 남은 공간을 모두 차지
    padding: 20px; 원하는 만큼 패딩 추가
}

테이블 스타일
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: rgb(250, 243, 239);
    border-top: 2px solid rgb(160, 160, 160);
}

tbody tr {
    height: 30px;
}

tbody td {
    color: rgb(150, 150, 150);
    text-align: left;
    line-height: 1.2;
    padding: 5px;
}

th, td {
    text-align: center;
    font-size: small;
    border: 1px solid #ddd;
    padding: 5px;
}

.week {
    text-align: center;
}

.period {
    text-align: center;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ededed;
}

추가적인 스타일이 필요하다면 여기에 작성하세요
 */ */